/* Demo Styles */
body {
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}

.paintr {
    position: relative;
}

 /* Paintr Surface Styles */
.paintr-surface {
    display: inline-block;
}
.paintr-surface canvas {
    border: 1px solid #d9d9d9;
    background: #fff;
}

/* Paintr Tools Styles */
.paintr-tools {
    display: inline-block;
    vertical-align: top;
    overflow-y: scroll;
    max-width: 150px;
    width: 150px;
    transition: width 250ms;
}
.paintr-tools.closed {
    width: 25px;
}
.paintr-tools-header {
    background-color: #efefef;
    text-align: right;
}
.paintr-tools-toggle {
    border: none;
    background: transparent;
    font-size: 16px;
    outline: none;
    padding: 2px 4px;
}
.paintr-tools .label {
    font-weight: 200;
    font-size: 14px;
}
.paintr-tools ul {
    list-style-type: none;
    padding: 0 25px;
}
.paintr-tools ul li.paintr-tools-divider {
    border-bottom: 1px solid #ccc;
    margin: 12px 0 10px;
}